<div class="row">
  <div class="col-auto">
    <h1>User Profile: {{username}}</h1>
    {{!-- <h2>{{username}}</h2> --}}
  </div>
  <div >
     <p class="has-text-centered">{{bio}}</p>

  </div>
</div>